<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imie.trybaproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name ="com.imie.trybaproject.views.activity.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.imie.trybaproject.views.activity.ListUsersActivity">
        </activity>
        <activity
            android:name= "com.imie.trybaproject.views.activity.AddUserActivity" >
        </activity>
        <activity
            android:name="com.imie.trybaproject.views.activity.AddOrderActivity" >
        </activity>
        <activity
            android:name="com.imie.trybaproject.views.activity.HomeActivity" >
        </activity>
        <activity
             android:name= "com.imie.trybaproject.views.activity.ScanActivity" >
        </activity>
        <activity
             android:name= "com.imie.trybaproject.views.activity.ListOrdersActivity" >
        </activity>
       <activity
            android:name= "com.imie.trybaproject.views.activity.DetailOrderActivity" >
        </activity>
        <activity
            android:name="com.imie.trybaproject.views.activity.DetailProductActivity">
        </activity>
    </application>

</manifest>
